<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Skill: <%= skill.skill %></p>
    <p><%= skill.mastered ? "Mastered!" : "Learning!" %></p>
    <div>
        <a href="/skills">Back to Skills</a>
    </div>

</body>
</html>